@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<FoodyTekmerEntityLayer.Concrete.Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="pointer-events: none; user-select: none;">-- Mesajlar Listesi</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu Başlığı</th>
        <th>Mesaj İçeriği</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ContactId</th>
            <td>@x.NameSurname</td>
            <td>@x.Mail</td>
            <td>@x.Title</td>
            <td>@x.Message</td>
            <td><a href="/Contact/DeleteContact/@x.ContactId" class="btn btn-danger mt-4">Sil</a></td>
        </tr>
    }
</table>

<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
            new
            {
                page
            }),
            new PagedListRenderOptionsBase
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        Display = PagedListDisplayMode.IfNeeded

    })
</div>
