@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<FoodyTekmerEntityLayer.Concrete.Product>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 style="pointer-events: none; user-select: none;">-- Ürün Listesi</h2>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Eski Fiyat</th>
                    <th>Yeni Fiyat</th>
                    <th>Stok</th>
                    <th>Durum</th>
                    <th>✓ aktif / X pasif   </th>
                    <th>Güncelle</th>
                </tr>
                @foreach (var x in Model)
                {
                    <tr>
                        <th>@x.ProductId</th>
                        <td>@x.Name</td>
                        <td>@x.CategoryId</td>
                        <td>@x.OldPrice</td>
                        <td>@x.NewPrice</td>
                        <td>@x.Stock</td>
                        <td>
                            @if (x.Status == true)
                            {
                                <span class="bg-success rounded p-1 text-white"><i class="bi bi-check-lg"></i></span>
                            }
                            else
                            {
                                <span class="bg-danger rounded p-1 text-white"><i class="bi bi-x-lg"></i></span>
                            }
                        </td>
                        <td>
                           
                                @if (x.Status == false)
                                {
                                <a href="/Product/DeleteProduct/@x.ProductId" class="btn btn-danger">
                                    <i class="bi bi-x-lg"></i>
                                </a>
                                }
                                else
                                {
                                     <a href="/Product/DeleteProduct/@x.ProductId" class="btn btn-success">
                                    <i class="bi bi-check-lg"></i>
                                    </a>
                                }
                            
                        </td>
                        <td><a href="/Product/UpdateProduct/@x.ProductId" class="btn btn-success"><i class="bi bi-arrow-repeat"></i></a></td>
                    </tr>
                }
            </table>
            <div class="pull-right">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                         new
                         {
                             page
                         }),
                         new PagedListRenderOptionsBase
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                    Display = PagedListDisplayMode.IfNeeded

                })
            </div><br />
            <a href="/Product/CreateProduct" class="btn btn-primary">Yeni Ürün Girişi</a>
        </div>
    </div>
</div>
