@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<FoodyTekmerEntityLayer.Concrete.Product>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h2 style="pointer-events: none; user-select: none;">-- Ürün Listesi</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Eski Fiyat</th>
        <th>Yeni Fiyat</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ProductId</th>
            <td>@x.Name</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.OldPrice</td>
            <td>@x.NewPrice</td>
            <td>
                @if (x.Status == true)
                {
                    <span class="bg-success rounded p-1 text-white">Aktif</span>
                }
                else
                {
                    <span class="bg-danger rounded p-1 text-white">Pasif</span>
                }
            </td>
            <td><a href="/Product/DeleteProduct/@x.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@x.ProductId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
            new
            {
                page
            }),
            new PagedListRenderOptionsBase
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        Display = PagedListDisplayMode.IfNeeded

    })
</div>
<a href="/Product/CreateProduct" class="btn btn-primary">Yeni Ürün Girişi</a>
