@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container overflow-hidden">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="task-stats-container">
                <div class="task-stats">
                    <div class="task-title">Ürünler</div>
                    <div class="task-count">@ViewBag.product</div>
                </div>
                <div class="task-stats-graph">
                    <div><i class="bi bi-basket2 fs-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div class="task-stats-container">
                <div class="task-stats">
                    <div class="task-title">Kategoriler</div>
                    <div class="task-count">@ViewBag.category</div>
                </div>
                <div class="task-stats-graph">
                    <div><i class="bi bi-tags fs-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div class="task-stats-container">
                <div class="task-stats">
                    <div class="task-title">Yorumlar</div>
                    <div class="task-count">@ViewBag.testimonial</div>
                </div>
                <div class="task-stats-graph">
                    <div><i class="bi bi-chat-quote fs-1"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div class="task-stats-container">
                <div class="task-stats">
                    <div class="task-title">Mesajlar</div>
                    <div class="task-count">@ViewBag.contact</div>
                </div>
                <div class="task-stats-graph">
                    <a href="/Contact/Index" type="button" class="btn btn-default position-relative">
                        @if (@ViewBag.newMail > 0)
                        {
                            <i class="bi bi-envelope fs-1"></i>
                            <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill shade-secondary">+@ViewBag.newMail</span>
                        }
                        else
                        {
                            <i class="bi bi-envelope fs-1"></i>
                        }

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-12 col-md-9 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @await Component.InvokeAsync("AdminHomeProductsComponentPartial")
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @await Component.InvokeAsync("AdminHomeCategoryComponentPartial")
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @await Component.InvokeAsync("AdminHomeAboutComponentPartial")
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @await Component.InvokeAsync("AdminHomeContactComponentPartial")
                    </div>
                </div>
            </div>
        </div>



        @await Component.InvokeAsync("AdminHomeTestimonialComponentPartial")

    </div>
</div>
